table(width='100%')
  tr
    td Data
    each waluta in waluty
      td= waluta

  each data in ceny[ waluty[0] ]
    tr
      td= data['effectiveDate']
      each waluta in ceny
        each list in waluta
          if list['effectiveDate'] == data['effectiveDate']
            td= ((list['bid']+list['ask'])/2).toFixed(4)

